{#
/**
 * UI Fields plugin for Craft CMS
 *
 * UiFields_RangeFieldType HTML
 *
 * @author    Tipping Media LLC
 * @copyright Copyright (c) 2016 Tipping Media LLC
 * @link      http://tippingmedia.com
 * @package   UiFields
 * @since     1.0.0
 */
#}

{% macro rangeField(name, id, settings, value) %}
    {% import "_includes/forms" as forms %}
    {% set input %}
        <div class="uifields-range-block range-slider">
            <input class="range-slider__range" name="{{name}}[range]" id="{{ id }}-range" type="range" value="{{value|default(settings.defaultRange)}}" min="{{settings.minimum}}" max="{{settings.maximum}}" step="{{settings.step}}">
            <span class="range-slider__value">0</span>
        </div>
    {% endset %}

    {{ forms.field({
        required: false,
    }, input) }}
{% endmacro %}

{% from _self import rangeField %}

{{ rangeField(name, id, settings, values, true) }}
