{% import "_includes/forms" as forms %}

{% macro maximumNumberField(locale, name, label, value, class) %}
    {% import "_includes/forms" as forms %}
    {% set input %}
        {{ forms.textField({
            label: label,
            instructions: "Maximun number of columns user can select.",
            size: "10",
            id: name,
            name: name,
            value: value,
            placeholder: "3"
        }) }}
    {% endset %}

    {{ forms.field({
        id: name~'-'~locale,
        required: false,
        fieldClass: class ? class :'',
    }, input) }}

{% endmacro %}

{% from _self import maximumNumberField %}

{{ maximumNumberField(craft.locale, "maxColumns", "Maximum Columns"|t, settings.maxColumns, 'uifields-columns', true) }}
