{% import "_includes/forms" as forms %}

{% macro defaultNumberField(locale, name, label, value, instruct, class) %}
    {% import "_includes/forms" as forms %}
    {% set input %}
        {{ forms.textField({
            label: label,
            instructions: instruct,
            size: "10",
            id: name,
            name: name,
            value: value ? value : 0,
            placeholder: "0"
        }) }}
    {% endset %}

    {{ forms.field({
        id: name~'-'~locale,
        required: false,
        fieldClass: class ? class :'',
    }, input) }}

{% endmacro %}

{% from _self import defaultNumberField %}

{% set inst = {
    "default":  "Default range value."|t,
    "min":      "Range minimum."|t,
    "max":      "Range maximum."|t,
    "step":     "Range increment."|t,
} %}

{{ defaultNumberField(craft.locale, "defaultMargin", "Default Range Value"|t, settings.defaultRange, "", 'uifields-range', true) }}
{{ defaultNumberField(craft.locale, "minimum", "Range Minimum"|t, settings.minimum, "", 'uifields-range', true) }}
{{ defaultNumberField(craft.locale, "maximum", "Range Maximum"|t, settings.maximum, "", 'uifields-range', true) }}
{{ defaultNumberField(craft.locale, "step", "Range Increment"|t, settings.step, "", 'uifields-range', true) }}
