{#
/**
 * UI Fields plugin for Craft CMS
 *
 * UiFields_ColumnsFieldType HTML
 *
 * @author    Tipping Media LLC
 * @copyright Copyright (c) 2016 Tipping Media LLC
 * @link      http://tippingmedia.com
 * @package   UiFields
 * @since     1.0.0
 */
#}

{% macro columnsField(name, id, maxColumns, values) %}
    {% import "_includes/forms" as forms %}
        {% set input %}
            <div class="uifields-columns-block">
                {% for col in 1..maxColumns %}
                    {% set idx = loop.index %}
                    <div class="uifields-columns-block {% if idx <= values.columns %}selected{% endif %}" data-idx="{{idx}}">
                        <input type="radio" name="{{ name }}[column]" value="{{ idx }}" id="{{ id }}-column{{idx}}" {% if idx == values.columns %}selected{% endif %}>
                        <label for="{{ name }}-column{{idx}}"></label>
                    </div>
                {% endfor %}
                {% if values.getErrors('columns') %}
                {% endif %}
            </div>
        {% endset %}

        {{ forms.field({
            required: false,
        }, input) }}
{% endmacro %}

{% from _self import columnsField %}

{{ columnsField(name, id, maxColumns, values, true) }}
