/**
 * UI Fields plugin for Craft CMS
 *
 * UiFields_RangeFieldType CSS
 *
 * @author    Tipping Media LLC
 * @copyright Copyright (c) 2016 Tipping Media LLC
 * @link      http://tippingmedia.com
 * @package   UiFields
 * @since     1.0.0
 */

 .range-slider {
   margin: 20px 0 0 0%;
 }

 .range-slider {
   width: 100%;
 }

 .range-slider__range {
   -webkit-appearance: none;
   width: calc(100% - (73px));
   height: 10px;
   border-radius: 5px;
   background: #E3E6E8;
   outline: none;
   padding: 0;
   margin: 0;
 }
 .range-slider__range::-webkit-slider-thumb {
   -webkit-appearance: none;
           appearance: none;
   width: 20px;
   height: 20px;
   border-radius: 50%;
   background: #576575;
   cursor: ew-resize;
   -webkit-transition: background .15s ease-in-out;
   transition: background .15s ease-in-out;
 }
 .range-slider__range::-webkit-slider-thumb:hover {
   background: #b9bfc6
 }
 .range-slider__range:active::-webkit-slider-thumb {
   background: #b9bfc6
   cursor: ew-resize;
 }
 .range-slider__range::-moz-range-thumb {
   width: 20px;
   height: 20px;
   border: 0;
   border-radius: 50%;
   background: #b9bfc6;
   cursor: ew-resize;
   -webkit-transition: background .15s ease-in-out;
   transition: background .15s ease-in-out;
 }
 .range-slider__range::-moz-range-thumb:hover {
   background: #b9bfc6
 }
 .range-slider__range:active::-moz-range-thumb {
   background: #b9bfc6
   cursor: ew-resize;
 }

 .range-slider__value {
   display: inline-block;
   position: relative;
   width: 40px;
   color: #fff;
   line-height: 20px;
   font-weight: bold;
   text-align: center;
   border-radius: 3px;
   background: #576575;
   padding: 5px 10px;
   margin-left: 8px;
 }
 .range-slider__value:after {
   position: absolute;
   top: 8px;
   left: -7px;
   width: 0;
   height: 0;
   border-top: 7px solid transparent;
   border-right: 7px solid #576575;
   border-bottom: 7px solid transparent;
   content: '';
 }

 ::-moz-range-track {
   background: #E3E6E8;
   border: 0;
 }

 input::-moz-focus-inner,
 input::-moz-focus-outer {
   border: 0;
 }
