/**
 * UI Fields plugin for Craft CMS
 *
 * UiFields_ColumnsFieldType CSS
 *
 * @author    Tipping Media LLC
 * @copyright Copyright (c) 2016 Tipping Media LLC
 * @link      http://tippingmedia.com
 * @package   UiFields
 * @since     1.0.0
 */

.uifields-columns-block{
    width: 100%;
    height: 60px;
    padding-top: 10px;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;

    justify-content: space-between;
}

.uifields-columns-block > div {
    position: relative;
    flex-grow: 1;
}

.uifields-columns-block > div:hover label {
    background-color: #b9bfc6;
}

.uifields-columns-block > div > input {
    position: absolute;
    left: 5%;
    height: 5%;
    visibility: hidden;
    z-index: 0;
}

.uifields-columns-block > div.selected label {
    background-color:  #7EAFE6;
}
.uifields-columns-block > div.hovSelect label {
    background-color: #b9bfc6 !important;
}

.uifields-columns-block > div > label {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 90%;
    margin-right: 15px;
    z-index: 2;
    background-color: #E3E6E8;
    border-radius: 5px;
    cursor:pointer;
    transition: background-color .2s;
}

.uifields-columns-block > div > label:last-child {
    margin-right: 0px;
}

.uifields-columns-block  input:checked + label {
    background-color: #7EAFE6;
}
